.icon-5 { background-image: url('png/5.png'); background-repeat: no-repeat; }

.icon-7 { background-image: url('png/7.png'); background-repeat: no-repeat; }

.icon-add22 { background-image: url('png/add22.png'); background-repeat: no-repeat; }

.icon-add23 { background-image: url('png/add23.png'); background-repeat: no-repeat; }

.icon-add24 { background-image: url('png/add24.png'); background-repeat: no-repeat; }

.icon-address5 { background-image: url('png/address5.png'); background-repeat: no-repeat; }

.icon-alarm { background-image: url('png/alarm.png'); background-repeat: no-repeat; }

.icon-align { background-image: url('png/align.png'); background-repeat: no-repeat; }

.icon-align1 { background-image: url('png/align1.png'); background-repeat: no-repeat; }

.icon-align2 { background-image: url('png/align2.png'); background-repeat: no-repeat; }

.icon-align3 { background-image: url('png/align3.png'); background-repeat: no-repeat; }

.icon-align4 { background-image: url('png/align4.png'); background-repeat: no-repeat; }

.icon-align5 { background-image: url('png/align5.png'); background-repeat: no-repeat; }

.icon-arrow57 { background-image: url('png/arrow57.png'); background-repeat: no-repeat; }

.icon-arrow58 { background-image: url('png/arrow58.png'); background-repeat: no-repeat; }

.icon-arrow59 { background-image: url('png/arrow59.png'); background-repeat: no-repeat; }

.icon-asterisk { background-image: url('png/asterisk.png'); background-repeat: no-repeat; }

.icon-at1 { background-image: url('png/at1.png'); background-repeat: no-repeat; }

.icon-attachment { background-image: url('png/attachment.png'); background-repeat: no-repeat; }

.icon-attachment2 { background-image: url('png/attachment2.png'); background-repeat: no-repeat; }

.icon-audio3 { background-image: url('png/audio3.png'); background-repeat: no-repeat; }

.icon-audio4 { background-image: url('png/audio4.png'); background-repeat: no-repeat; }

.icon-audio5 { background-image: url('png/audio5.png'); background-repeat: no-repeat; }

.icon-audio6 { background-image: url('png/audio6.png'); background-repeat: no-repeat; }

.icon-average1 { background-image: url('png/average1.png'); background-repeat: no-repeat; }

.icon-battery10 { background-image: url('png/battery10.png'); background-repeat: no-repeat; }

.icon-battery11 { background-image: url('png/battery11.png'); background-repeat: no-repeat; }

.icon-battery12 { background-image: url('png/battery12.png'); background-repeat: no-repeat; }

.icon-battery13 { background-image: url('png/battery13.png'); background-repeat: no-repeat; }

.icon-battery14 { background-image: url('png/battery14.png'); background-repeat: no-repeat; }

.icon-battery15 { background-image: url('png/battery15.png'); background-repeat: no-repeat; }

.icon-battery16 { background-image: url('png/battery16.png'); background-repeat: no-repeat; }

.icon-battery5 { background-image: url('png/battery5.png'); background-repeat: no-repeat; }

.icon-battery6 { background-image: url('png/battery6.png'); background-repeat: no-repeat; }

.icon-battery7 { background-image: url('png/battery7.png'); background-repeat: no-repeat; }

.icon-battery8 { background-image: url('png/battery8.png'); background-repeat: no-repeat; }

.icon-battery9 { background-image: url('png/battery9.png'); background-repeat: no-repeat; }

.icon-bell2 { background-image: url('png/bell2.png'); background-repeat: no-repeat; }

.icon-bell3 { background-image: url('png/bell3.png'); background-repeat: no-repeat; }

.icon-bell4 { background-image: url('png/bell4.png'); background-repeat: no-repeat; }

.icon-big40 { background-image: url('png/big40.png'); background-repeat: no-repeat; }

.icon-big45 { background-image: url('png/big45.png'); background-repeat: no-repeat; }

.icon-big48 { background-image: url('png/big48.png'); background-repeat: no-repeat; }

.icon-big53 { background-image: url('png/big53.png'); background-repeat: no-repeat; }

.icon-big54 { background-image: url('png/big54.png'); background-repeat: no-repeat; }

.icon-bin1 { background-image: url('png/bin1.png'); background-repeat: no-repeat; }

.icon-bin3 { background-image: url('png/bin3.png'); background-repeat: no-repeat; }

.icon-black28 { background-image: url('png/black28.png'); background-repeat: no-repeat; }

.icon-black31 { background-image: url('png/black31.png'); background-repeat: no-repeat; }

.icon-black32 { background-image: url('png/black32.png'); background-repeat: no-repeat; }

.icon-black39 { background-image: url('png/black39.png'); background-repeat: no-repeat; }

.icon-black40 { background-image: url('png/black40.png'); background-repeat: no-repeat; }

.icon-boat { background-image: url('png/boat.png'); background-repeat: no-repeat; }

.icon-book4 { background-image: url('png/book4.png'); background-repeat: no-repeat; }

.icon-book5 { background-image: url('png/book5.png'); background-repeat: no-repeat; }

.icon-book6 { background-image: url('png/book6.png'); background-repeat: no-repeat; }

.icon-bookmark { background-image: url('png/bookmark.png'); background-repeat: no-repeat; }

.icon-botton10 { background-image: url('png/botton10.png'); background-repeat: no-repeat; }

.icon-botton11 { background-image: url('png/botton11.png'); background-repeat: no-repeat; }

.icon-botton7 { background-image: url('png/botton7.png'); background-repeat: no-repeat; }

.icon-botton8 { background-image: url('png/botton8.png'); background-repeat: no-repeat; }

.icon-botton9 { background-image: url('png/botton9.png'); background-repeat: no-repeat; }

.icon-brightness3 { background-image: url('png/brightness3.png'); background-repeat: no-repeat; }

.icon-brightness4 { background-image: url('png/brightness4.png'); background-repeat: no-repeat; }

.icon-browser { background-image: url('png/browser.png'); background-repeat: no-repeat; }

.icon-browser1 { background-image: url('png/browser1.png'); background-repeat: no-repeat; }

.icon-browser11 { background-image: url('png/browser11.png'); background-repeat: no-repeat; }

.icon-browser19 { background-image: url('png/browser19.png'); background-repeat: no-repeat; }

.icon-browser2 { background-image: url('png/browser2.png'); background-repeat: no-repeat; }

.icon-browser3 { background-image: url('png/browser3.png'); background-repeat: no-repeat; }

.icon-browser4 { background-image: url('png/browser4.png'); background-repeat: no-repeat; }

.icon-browser5 { background-image: url('png/browser5.png'); background-repeat: no-repeat; }

.icon-browser6 { background-image: url('png/browser6.png'); background-repeat: no-repeat; }

.icon-browser7 { background-image: url('png/browser7.png'); background-repeat: no-repeat; }

.icon-bulb { background-image: url('png/bulb.png'); background-repeat: no-repeat; }

.icon-bullet-list { background-image: url('png/bullet-list.png'); background-repeat: no-repeat; }

.icon-bullet { background-image: url('png/bullet.png'); background-repeat: no-repeat; }

.icon-bullhorn { background-image: url('png/bullhorn.png'); background-repeat: no-repeat; }

.icon-calendar4 { background-image: url('png/calendar4.png'); background-repeat: no-repeat; }

.icon-camera4 { background-image: url('png/camera4.png'); background-repeat: no-repeat; }

.icon-camera5 { background-image: url('png/camera5.png'); background-repeat: no-repeat; }

.icon-campane { background-image: url('png/campane.png'); background-repeat: no-repeat; }

.icon-cassette { background-image: url('png/cassette.png'); background-repeat: no-repeat; }

.icon-center { background-image: url('png/center.png'); background-repeat: no-repeat; }

.icon-clipboard2 { background-image: url('png/clipboard2.png'); background-repeat: no-repeat; }

.icon-clipboard3 { background-image: url('png/clipboard3.png'); background-repeat: no-repeat; }

.icon-clock3 { background-image: url('png/clock3.png'); background-repeat: no-repeat; }

.icon-close2 { background-image: url('png/close2.png'); background-repeat: no-repeat; }

.icon-cloud10 { background-image: url('png/cloud10.png'); background-repeat: no-repeat; }

.icon-cloud11 { background-image: url('png/cloud11.png'); background-repeat: no-repeat; }

.icon-cloud12 { background-image: url('png/cloud12.png'); background-repeat: no-repeat; }

.icon-cloud13 { background-image: url('png/cloud13.png'); background-repeat: no-repeat; }

.icon-cloud9 { background-image: url('png/cloud9.png'); background-repeat: no-repeat; }

.icon-code2 { background-image: url('png/code2.png'); background-repeat: no-repeat; }

.icon-cogs { background-image: url('png/cogs.png'); background-repeat: no-repeat; }

.icon-commit { background-image: url('png/commit.png'); background-repeat: no-repeat; }

.icon-compose { background-image: url('png/compose.png'); background-repeat: no-repeat; }

.icon-compose1 { background-image: url('png/compose1.png'); background-repeat: no-repeat; }

.icon-compose2 { background-image: url('png/compose2.png'); background-repeat: no-repeat; }

.icon-compose3 { background-image: url('png/compose3.png'); background-repeat: no-repeat; }

.icon-contract { background-image: url('png/contract.png'); background-repeat: no-repeat; }

.icon-contract1 { background-image: url('png/contract1.png'); background-repeat: no-repeat; }

.icon-contrast1 { background-image: url('png/contrast1.png'); background-repeat: no-repeat; }

.icon-converge { background-image: url('png/converge.png'); background-repeat: no-repeat; }

.icon-crate { background-image: url('png/crate.png'); background-repeat: no-repeat; }

.icon-credit1 { background-image: url('png/credit1.png'); background-repeat: no-repeat; }

.icon-credit4 { background-image: url('png/credit4.png'); background-repeat: no-repeat; }

.icon-credit5 { background-image: url('png/credit5.png'); background-repeat: no-repeat; }

.icon-cross2 { background-image: url('png/cross2.png'); background-repeat: no-repeat; }

.icon-curlybrace { background-image: url('png/curlybrace.png'); background-repeat: no-repeat; }

.icon-curlybrace1 { background-image: url('png/curlybrace1.png'); background-repeat: no-repeat; }

.icon-curve2 { background-image: url('png/curve2.png'); background-repeat: no-repeat; }

.icon-curves { background-image: url('png/curves.png'); background-repeat: no-repeat; }

.icon-database10 { background-image: url('png/database10.png'); background-repeat: no-repeat; }

.icon-database9 { background-image: url('png/database9.png'); background-repeat: no-repeat; }

.icon-databases { background-image: url('png/databases.png'); background-repeat: no-repeat; }

.icon-day { background-image: url('png/day.png'); background-repeat: no-repeat; }

.icon-day2 { background-image: url('png/day2.png'); background-repeat: no-repeat; }

.icon-delete12 { background-image: url('png/delete12.png'); background-repeat: no-repeat; }

.icon-delete13 { background-image: url('png/delete13.png'); background-repeat: no-repeat; }

.icon-disc { background-image: url('png/disc.png'); background-repeat: no-repeat; }

.icon-distribute { background-image: url('png/distribute.png'); background-repeat: no-repeat; }

.icon-distribute1 { background-image: url('png/distribute1.png'); background-repeat: no-repeat; }

.icon-distribute2 { background-image: url('png/distribute2.png'); background-repeat: no-repeat; }

.icon-distribute3 { background-image: url('png/distribute3.png'); background-repeat: no-repeat; }

.icon-distribute4 { background-image: url('png/distribute4.png'); background-repeat: no-repeat; }

.icon-distribute5 { background-image: url('png/distribute5.png'); background-repeat: no-repeat; }

.icon-document2 { background-image: url('png/document2.png'); background-repeat: no-repeat; }

.icon-document3 { background-image: url('png/document3.png'); background-repeat: no-repeat; }

.icon-document4 { background-image: url('png/document4.png'); background-repeat: no-repeat; }

.icon-drawer { background-image: url('png/drawer.png'); background-repeat: no-repeat; }

.icon-drizzle { background-image: url('png/drizzle.png'); background-repeat: no-repeat; }

.icon-droplet { background-image: url('png/droplet.png'); background-repeat: no-repeat; }

.icon-envelope { background-image: url('png/envelope.png'); background-repeat: no-repeat; }

.icon-exchange { background-image: url('png/exchange.png'); background-repeat: no-repeat; }

.icon-exclude { background-image: url('png/exclude.png'); background-repeat: no-repeat; }

.icon-expand2 { background-image: url('png/expand2.png'); background-repeat: no-repeat; }

.icon-expand6 { background-image: url('png/expand6.png'); background-repeat: no-repeat; }

.icon-expand7 { background-image: url('png/expand7.png'); background-repeat: no-repeat; }

.icon-expand8 { background-image: url('png/expand8.png'); background-repeat: no-repeat; }

.icon-favorite6 { background-image: url('png/favorite6.png'); background-repeat: no-repeat; }

.icon-fivepointed2 { background-image: url('png/fivepointed2.png'); background-repeat: no-repeat; }

.icon-flag2 { background-image: url('png/flag2.png'); background-repeat: no-repeat; }

.icon-flag3 { background-image: url('png/flag3.png'); background-repeat: no-repeat; }

.icon-flask { background-image: url('png/flask.png'); background-repeat: no-repeat; }

.icon-flask1 { background-image: url('png/flask1.png'); background-repeat: no-repeat; }

.icon-floppy { background-image: url('png/floppy.png'); background-repeat: no-repeat; }

.icon-flux { background-image: url('png/flux.png'); background-repeat: no-repeat; }

.icon-fog { background-image: url('png/fog.png'); background-repeat: no-repeat; }

.icon-folder10 { background-image: url('png/folder10.png'); background-repeat: no-repeat; }

.icon-folder11 { background-image: url('png/folder11.png'); background-repeat: no-repeat; }

.icon-folder15 { background-image: url('png/folder15.png'); background-repeat: no-repeat; }

.icon-folder7 { background-image: url('png/folder7.png'); background-repeat: no-repeat; }

.icon-folder8 { background-image: url('png/folder8.png'); background-repeat: no-repeat; }

.icon-folder9 { background-image: url('png/folder9.png'); background-repeat: no-repeat; }

.icon-framework { background-image: url('png/framework.png'); background-repeat: no-repeat; }

.icon-grid { background-image: url('png/grid.png'); background-repeat: no-repeat; }

.icon-grid3 { background-image: url('png/grid3.png'); background-repeat: no-repeat; }

.icon-headset { background-image: url('png/headset.png'); background-repeat: no-repeat; }

.icon-heart18 { background-image: url('png/heart18.png'); background-repeat: no-repeat; }

.icon-heart9 { background-image: url('png/heart9.png'); background-repeat: no-repeat; }

.icon-helm { background-image: url('png/helm.png'); background-repeat: no-repeat; }

.icon-home15 { background-image: url('png/home15.png'); background-repeat: no-repeat; }

.icon-home2 { background-image: url('png/home2.png'); background-repeat: no-repeat; }

.icon-home4 { background-image: url('png/home4.png'); background-repeat: no-repeat; }

.icon-image1 { background-image: url('png/image1.png'); background-repeat: no-repeat; }

.icon-inbox1 { background-image: url('png/inbox1.png'); background-repeat: no-repeat; }

.icon-inbox2 { background-image: url('png/inbox2.png'); background-repeat: no-repeat; }

.icon-infinity2 { background-image: url('png/infinity2.png'); background-repeat: no-repeat; }

.icon-internet3 { background-image: url('png/internet3.png'); background-repeat: no-repeat; }

.icon-intersect { background-image: url('png/intersect.png'); background-repeat: no-repeat; }

.icon-intro { background-image: url('png/intro.png'); background-repeat: no-repeat; }

.icon-key3 { background-image: url('png/key3.png'); background-repeat: no-repeat; }

.icon-layout { background-image: url('png/layout.png'); background-repeat: no-repeat; }

.icon-layout1 { background-image: url('png/layout1.png'); background-repeat: no-repeat; }

.icon-layout2 { background-image: url('png/layout2.png'); background-repeat: no-repeat; }

.icon-layout3 { background-image: url('png/layout3.png'); background-repeat: no-repeat; }

.icon-layout4 { background-image: url('png/layout4.png'); background-repeat: no-repeat; }

.icon-layout5 { background-image: url('png/layout5.png'); background-repeat: no-repeat; }

.icon-layout6 { background-image: url('png/layout6.png'); background-repeat: no-repeat; }

.icon-left19 { background-image: url('png/left19.png'); background-repeat: no-repeat; }

.icon-left24 { background-image: url('png/left24.png'); background-repeat: no-repeat; }

.icon-line6 { background-image: url('png/line6.png'); background-repeat: no-repeat; }

.icon-link6 { background-image: url('png/link6.png'); background-repeat: no-repeat; }

.icon-list4 { background-image: url('png/list4.png'); background-repeat: no-repeat; }

.icon-list5 { background-image: url('png/list5.png'); background-repeat: no-repeat; }

.icon-list7 { background-image: url('png/list7.png'); background-repeat: no-repeat; }

.icon-load { background-image: url('png/load.png'); background-repeat: no-repeat; }

.icon-locked2 { background-image: url('png/locked2.png'); background-repeat: no-repeat; }

.icon-low4 { background-image: url('png/low4.png'); background-repeat: no-repeat; }

.icon-mail1 { background-image: url('png/mail1.png'); background-repeat: no-repeat; }

.icon-mail2 { background-image: url('png/mail2.png'); background-repeat: no-repeat; }

.icon-mail3 { background-image: url('png/mail3.png'); background-repeat: no-repeat; }

.icon-map1 { background-image: url('png/map1.png'); background-repeat: no-repeat; }

.icon-map2 { background-image: url('png/map2.png'); background-repeat: no-repeat; }

.icon-marquee { background-image: url('png/marquee.png'); background-repeat: no-repeat; }

.icon-marquee1 { background-image: url('png/marquee1.png'); background-repeat: no-repeat; }

.icon-marquee2 { background-image: url('png/marquee2.png'); background-repeat: no-repeat; }

.icon-marquee3 { background-image: url('png/marquee3.png'); background-repeat: no-repeat; }

.icon-marquee5 { background-image: url('png/marquee5.png'); background-repeat: no-repeat; }

.icon-marquee6 { background-image: url('png/marquee6.png'); background-repeat: no-repeat; }

.icon-maximise { background-image: url('png/maximise.png'); background-repeat: no-repeat; }

.icon-menu4 { background-image: url('png/menu4.png'); background-repeat: no-repeat; }

.icon-menu5 { background-image: url('png/menu5.png'); background-repeat: no-repeat; }

.icon-microphone5 { background-image: url('png/microphone5.png'); background-repeat: no-repeat; }

.icon-minus { background-image: url('png/minus.png'); background-repeat: no-repeat; }

.icon-mizzle { background-image: url('png/mizzle.png'); background-repeat: no-repeat; }

.icon-new3 { background-image: url('png/new3.png'); background-repeat: no-repeat; }

.icon-newspaper { background-image: url('png/newspaper.png'); background-repeat: no-repeat; }

.icon-newspaper1 { background-image: url('png/newspaper1.png'); background-repeat: no-repeat; }

.icon-next3 { background-image: url('png/next3.png'); background-repeat: no-repeat; }

.icon-nib { background-image: url('png/nib.png'); background-repeat: no-repeat; }

.icon-nope { background-image: url('png/nope.png'); background-repeat: no-repeat; }

.icon-north { background-image: url('png/north.png'); background-repeat: no-repeat; }

.icon-notes { background-image: url('png/notes.png'); background-repeat: no-repeat; }

.icon-old2 { background-image: url('png/old2.png'); background-repeat: no-repeat; }

.icon-out1 { background-image: url('png/out1.png'); background-repeat: no-repeat; }

.icon-outbox { background-image: url('png/outbox.png'); background-repeat: no-repeat; }

.icon-outbox1 { background-image: url('png/outbox1.png'); background-repeat: no-repeat; }

.icon-outgoing { background-image: url('png/outgoing.png'); background-repeat: no-repeat; }

.icon-outgoing1 { background-image: url('png/outgoing1.png'); background-repeat: no-repeat; }

.icon-paper6 { background-image: url('png/paper6.png'); background-repeat: no-repeat; }

.icon-paper8 { background-image: url('png/paper8.png'); background-repeat: no-repeat; }

.icon-paragrap { background-image: url('png/paragrap.png'); background-repeat: no-repeat; }

.icon-paragraph1 { background-image: url('png/paragraph1.png'); background-repeat: no-repeat; }

.icon-paragraph13 { background-image: url('png/paragraph13.png'); background-repeat: no-repeat; }

.icon-paragraph3 { background-image: url('png/paragraph3.png'); background-repeat: no-repeat; }

.icon-paragraph4 { background-image: url('png/paragraph4.png'); background-repeat: no-repeat; }

.icon-paragraph5 { background-image: url('png/paragraph5.png'); background-repeat: no-repeat; }

.icon-paragraph6 { background-image: url('png/paragraph6.png'); background-repeat: no-repeat; }

.icon-paragraph8 { background-image: url('png/paragraph8.png'); background-repeat: no-repeat; }

.icon-partially { background-image: url('png/partially.png'); background-repeat: no-repeat; }

.icon-pause4 { background-image: url('png/pause4.png'); background-repeat: no-repeat; }

.icon-pen6 { background-image: url('png/pen6.png'); background-repeat: no-repeat; }

.icon-pencil6 { background-image: url('png/pencil6.png'); background-repeat: no-repeat; }

.icon-people { background-image: url('png/people.png'); background-repeat: no-repeat; }

.icon-piano { background-image: url('png/piano.png'); background-repeat: no-repeat; }

.icon-pin7 { background-image: url('png/pin7.png'); background-repeat: no-repeat; }

.icon-pin8 { background-image: url('png/pin8.png'); background-repeat: no-repeat; }

.icon-plume { background-image: url('png/plume.png'); background-repeat: no-repeat; }

.icon-plus3 { background-image: url('png/plus3.png'); background-repeat: no-repeat; }

.icon-podcast { background-image: url('png/podcast.png'); background-repeat: no-repeat; }

.icon-podcast1 { background-image: url('png/podcast1.png'); background-repeat: no-repeat; }

.icon-polaroid { background-image: url('png/polaroid.png'); background-repeat: no-repeat; }

.icon-polaroid1 { background-image: url('png/polaroid1.png'); background-repeat: no-repeat; }

.icon-postage { background-image: url('png/postage.png'); background-repeat: no-repeat; }

.icon-power5 { background-image: url('png/power5.png'); background-repeat: no-repeat; }

.icon-previous1 { background-image: url('png/previous1.png'); background-repeat: no-repeat; }

.icon-print { background-image: url('png/print.png'); background-repeat: no-repeat; }

.icon-professional { background-image: url('png/professional.png'); background-repeat: no-repeat; }

.icon-pull { background-image: url('png/pull.png'); background-repeat: no-repeat; }

.icon-pullup { background-image: url('png/pullup.png'); background-repeat: no-repeat; }

.icon-question { background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3Csvg%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20512%20512%22%20enable-background%3D%22new%200%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%3E%3Cpath%20id%3D%22help-3-icon%22%20d%3D%22M256%2C90c91.74%2C0%2C166%2C74.244%2C166%2C166c0%2C91.741-74.245%2C166-166%2C166c-91.741%2C0-166-74.245-166-166%20C90%2C164.259%2C164.244%2C90%2C256%2C90%20M256%2C50C142.229%2C50%2C50%2C142.229%2C50%2C256s92.229%2C206%2C206%2C206s206-92.229%2C206-206S369.771%2C50%2C256%2C50%20L256%2C50z%20M258.025%2C379.511c-14.546%2C0-26.343-11.797-26.343-26.349c0-14.543%2C11.797-26.336%2C26.343-26.336%20c14.549%2C0%2C26.342%2C11.793%2C26.342%2C26.336C284.367%2C367.714%2C272.574%2C379.511%2C258.025%2C379.511z%20M278.735%2C301.646v4.739%20c0%2C0-39.494%2C0-43.423%2C0v-4.739c0-13.408%2C1.956-30.61%2C17.523-45.565c15.569-14.958%2C35.024-27.312%2C35.024-45.996%20c0-20.655-14.335-31.581-32.409-31.581c-30.116%2C0-32.085%2C31.234-32.827%2C38.112H180.39c1.125-32.57%2C14.891-78.127%2C75.315-78.127%20c52.363%2C0%2C75.905%2C35.07%2C75.905%2C67.957C331.61%2C258.793%2C278.735%2C267.886%2C278.735%2C301.646z%22%2F%3E%3C%2Fsvg%3E'); background-repeat: no-repeat; }

.icon-quill { background-image: url('png/quill.png'); background-repeat: no-repeat; }

.icon-rectangular { background-image: url('png/rectangular.png'); background-repeat: no-repeat; }

.icon-reduce { background-image: url('png/reduce.png'); background-repeat: no-repeat; }

.icon-refresh1 { background-image: url('png/refresh1.png'); background-repeat: no-repeat; }

.icon-reminder { background-image: url('png/reminder.png'); background-repeat: no-repeat; }

.icon-remove { background-image: url('png/remove.png'); background-repeat: no-repeat; }

.icon-repeat { background-image: url('png/repeat.png'); background-repeat: no-repeat; }

.icon-return2 { background-image: url('png/return2.png'); background-repeat: no-repeat; }

.icon-return3 { background-image: url('png/return3.png'); background-repeat: no-repeat; }

.icon-revert { background-image: url('png/revert.png'); background-repeat: no-repeat; }

.icon-rewind9 { background-image: url('png/rewind9.png'); background-repeat: no-repeat; }

.icon-ripped { background-image: url('png/ripped.png'); background-repeat: no-repeat; }

.icon-road2 { background-image: url('png/road2.png'); background-repeat: no-repeat; }

.icon-rounded1 { background-image: url('png/rounded1.png'); background-repeat: no-repeat; }

.icon-rounded11 { background-image: url('png/rounded11.png'); background-repeat: no-repeat; }

.icon-rulers { background-image: url('png/rulers.png'); background-repeat: no-repeat; }

.icon-safe { background-image: url('png/safe.png'); background-repeat: no-repeat; }

.icon-search { background-image: url('png/search.png'); background-repeat: no-repeat; }

.icon-search4 { background-image: url('png/search4.png'); background-repeat: no-repeat; }

.icon-seccin { background-image: url('png/seccin.png'); background-repeat: no-repeat; }

.icon-send5 { background-image: url('png/send5.png'); background-repeat: no-repeat; }

.icon-settings { background-image: url('png/settings.png'); background-repeat: no-repeat; }

.icon-settings2 { background-image: url('png/settings2.png'); background-repeat: no-repeat; }

.icon-shred { background-image: url('png/shred.png'); background-repeat: no-repeat; }

.icon-shuffle { background-image: url('png/shuffle.png'); background-repeat: no-repeat; }

.icon-sing { background-image: url('png/sing.png'); background-repeat: no-repeat; }

.icon-sleep1 { background-image: url('png/sleep1.png'); background-repeat: no-repeat; }

.icon-small40 { background-image: url('png/small40.png'); background-repeat: no-repeat; }

.icon-small41 { background-image: url('png/small41.png'); background-repeat: no-repeat; }

.icon-small42 { background-image: url('png/small42.png'); background-repeat: no-repeat; }

.icon-small43 { background-image: url('png/small43.png'); background-repeat: no-repeat; }

.icon-small44 { background-image: url('png/small44.png'); background-repeat: no-repeat; }

.icon-small45 { background-image: url('png/small45.png'); background-repeat: no-repeat; }

.icon-small46 { background-image: url('png/small46.png'); background-repeat: no-repeat; }

.icon-small47 { background-image: url('png/small47.png'); background-repeat: no-repeat; }

.icon-small52 { background-image: url('png/small52.png'); background-repeat: no-repeat; }

.icon-spam { background-image: url('png/spam.png'); background-repeat: no-repeat; }

.icon-spam1 { background-image: url('png/spam1.png'); background-repeat: no-repeat; }

.icon-speech10 { background-image: url('png/speech10.png'); background-repeat: no-repeat; }

.icon-speech11 { background-image: url('png/speech11.png'); background-repeat: no-repeat; }

.icon-speech17 { background-image: url('png/speech17.png'); background-repeat: no-repeat; }

.icon-speech3 { background-image: url('png/speech3.png'); background-repeat: no-repeat; }

.icon-speech4 { background-image: url('png/speech4.png'); background-repeat: no-repeat; }

.icon-speech5 { background-image: url('png/speech5.png'); background-repeat: no-repeat; }

.icon-speeck { background-image: url('png/speeck.png'); background-repeat: no-repeat; }

.icon-spinner { background-image: url('png/spinner.png'); background-repeat: no-repeat; }

.icon-spinner1 { background-image: url('png/spinner1.png'); background-repeat: no-repeat; }

.icon-spinner3 { background-image: url('png/spinner3.png'); background-repeat: no-repeat; }

.icon-split { background-image: url('png/split.png'); background-repeat: no-repeat; }

.icon-split1 { background-image: url('png/split1.png'); background-repeat: no-repeat; }

.icon-spool { background-image: url('png/spool.png'); background-repeat: no-repeat; }

.icon-square19 { background-image: url('png/square19.png'); background-repeat: no-repeat; }

.icon-stamp { background-image: url('png/stamp.png'); background-repeat: no-repeat; }

.icon-stamp1 { background-image: url('png/stamp1.png'); background-repeat: no-repeat; }

.icon-star3 { background-image: url('png/star3.png'); background-repeat: no-repeat; }

.icon-stiffy { background-image: url('png/stiffy.png'); background-repeat: no-repeat; }

.icon-stop3 { background-image: url('png/stop3.png'); background-repeat: no-repeat; }

.icon-stopwatch { background-image: url('png/stopwatch.png'); background-repeat: no-repeat; }

.icon-store { background-image: url('png/store.png'); background-repeat: no-repeat; }

.icon-substract { background-image: url('png/substract.png'); background-repeat: no-repeat; }

.icon-support { background-image: url('png/support.png'); background-repeat: no-repeat; }

.icon-support2 { background-image: url('png/support2.png'); background-repeat: no-repeat; }

.icon-swap { background-image: url('png/swap.png'); background-repeat: no-repeat; }

.icon-swap1 { background-image: url('png/swap1.png'); background-repeat: no-repeat; }

.icon-swatch { background-image: url('png/swatch.png'); background-repeat: no-repeat; }

.icon-swatches { background-image: url('png/swatches.png'); background-repeat: no-repeat; }

.icon-switch2 { background-image: url('png/switch2.png'); background-repeat: no-repeat; }

.icon-switch3 { background-image: url('png/switch3.png'); background-repeat: no-repeat; }

.icon-symbol2 { background-image: url('png/symbol2.png'); background-repeat: no-repeat; }

.icon-tag3 { background-image: url('png/tag3.png'); background-repeat: no-repeat; }

.icon-tag4 { background-image: url('png/tag4.png'); background-repeat: no-repeat; }

.icon-tag5 { background-image: url('png/tag5.png'); background-repeat: no-repeat; }

.icon-tag7 { background-image: url('png/tag7.png'); background-repeat: no-repeat; }

.icon-terminal2 { background-image: url('png/terminal2.png'); background-repeat: no-repeat; }

.icon-terminal5 { background-image: url('png/terminal5.png'); background-repeat: no-repeat; }

.icon-terminal6 { background-image: url('png/terminal6.png'); background-repeat: no-repeat; }

.icon-terms { background-image: url('png/terms.png'); background-repeat: no-repeat; }

.icon-thermometer2 { background-image: url('png/thermometer2.png'); background-repeat: no-repeat; }

.icon-three12 { background-image: url('png/three12.png'); background-repeat: no-repeat; }

.icon-tick1 { background-image: url('png/tick1.png'); background-repeat: no-repeat; }

.icon-tilde { background-image: url('png/tilde.png'); background-repeat: no-repeat; }

.icon-timeline1 { background-image: url('png/timeline1.png'); background-repeat: no-repeat; }

.icon-toggle { background-image: url('png/toggle.png'); background-repeat: no-repeat; }

.icon-toggle1 { background-image: url('png/toggle1.png'); background-repeat: no-repeat; }

.icon-top { background-image: url('png/top.png'); background-repeat: no-repeat; }

.icon-transfer { background-image: url('png/transfer.png'); background-repeat: no-repeat; }

.icon-unite { background-image: url('png/unite.png'); background-repeat: no-repeat; }

.icon-unlocked2 { background-image: url('png/unlocked2.png'); background-repeat: no-repeat; }

.icon-unwatch { background-image: url('png/unwatch.png'); background-repeat: no-repeat; }

.icon-upload5 { background-image: url('png/upload5.png'); background-repeat: no-repeat; }

.icon-user10 { background-image: url('png/user10.png'); background-repeat: no-repeat; }

.icon-user11 { background-image: url('png/user11.png'); background-repeat: no-repeat; }

.icon-user13 { background-image: url('png/user13.png'); background-repeat: no-repeat; }

.icon-user7 { background-image: url('png/user7.png'); background-repeat: no-repeat; }

.icon-user8 { background-image: url('png/user8.png'); background-repeat: no-repeat; }

.icon-user9 { background-image: url('png/user9.png'); background-repeat: no-repeat; }

.icon-users { background-image: url('png/users.png'); background-repeat: no-repeat; }

.icon-video4 { background-image: url('png/video4.png'); background-repeat: no-repeat; }

.icon-video8 { background-image: url('png/video8.png'); background-repeat: no-repeat; }

.icon-vinyl { background-image: url('png/vinyl.png'); background-repeat: no-repeat; }

.icon-vision { background-image: url('png/vision.png'); background-repeat: no-repeat; }

.icon-voicemail { background-image: url('png/voicemail.png'); background-repeat: no-repeat; }

.icon-wallet2 { background-image: url('png/wallet2.png'); background-repeat: no-repeat; }

.icon-wallet3 { background-image: url('png/wallet3.png'); background-repeat: no-repeat; }

.icon-watch1 { background-image: url('png/watch1.png'); background-repeat: no-repeat; }

.icon-wave { background-image: url('png/wave.png'); background-repeat: no-repeat; }

.icon-wave1 { background-image: url('png/wave1.png'); background-repeat: no-repeat; }

.icon-web1 { background-image: url('png/web1.png'); background-repeat: no-repeat; }

.icon-web2 { background-image: url('png/web2.png'); background-repeat: no-repeat; }

.icon-wifi10 { background-image: url('png/wifi10.png'); background-repeat: no-repeat; }

.icon-wifi4 { background-image: url('png/wifi4.png'); background-repeat: no-repeat; }

.icon-wifi8 { background-image: url('png/wifi8.png'); background-repeat: no-repeat; }

.icon-windows4 { background-image: url('png/windows4.png'); background-repeat: no-repeat; }

.icon-zoom10 { background-image: url('png/zoom10.png'); background-repeat: no-repeat; }

.icon-zoom11 { background-image: url('png/zoom11.png'); background-repeat: no-repeat; }

