
.icon-menu:before { content: '\e800'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-twitter:before { content: '\e804'; } /* '' */
.icon-facebook:before { content: '\e805'; } /* '' */