img {
    -ms-interpolation-mode: bicubic;
}

#mp-pusher {
    display: none;
}

div.wrap {
    margin-top: 30px!important;
}

nav.collapse.navbar-collapse {margin: 0 0 0 210px!important;}


.document-type-text p {
    width: 100% !important;
}


.dropdown-menu li {  width: 33% }

.col-md-6 {  width: 46%!important; }

.col-md-3 {width: 22%!important;}

.alert-warning {
    margin: 10px 0;
}

.tile-container article .tile-image img {
    width: inherit;
}

.tile-container article.fii-report {
    margin: 10px;
}

.tile-container article.fii-report a {
    cursor: pointer!important;
}

.tile-container article.fii-report h3 {
    padding-right: 8px;
}

.sorts, .filters {
    margin: 20px;
}

.filters {
    margin: 20px;
}

.sort-control {
    padding: 24px 24px 24px 14px;
    font-size: 1em;
}

.sorts {
    float: right;
    margin-right: 10px;
}

.filter-header {        
    padding: 16px 13px;
    font-size: 1em;
}

